.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(240, 232, 219);
  max-width: 500px;
  width: 100%;
  border: 2px solid orange;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-input label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-input input[type="text"],
.form-input input[type="number"],
.form-input input[type="email"] {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}

.form-input input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-input input[type="submit"]:hover {
  background-color: #3e8e41;
}
